<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Home</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
		<div class="navbar-inner">
        	<div class="container">
        		<div class="row header">
        			<div class="col-md-5">
                    </div>
                    <div id="header-text">
        				<h1>Casa Dòmotica</h1>
        			</div>
        		</div>
        	</div>
        </div>
</div>
<div id="content">
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="/encender">Home</a></li>
          <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Alarma</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createAlarma">Crear Alarma</a></li>
                    <li><a href="/resetAlarma">Reset Alarmes</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Events</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createEvent">Crear Esdeveniment</a></li>
                    <li><a href="/resetEvent">Reset Esdeveniment</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Gràfiques</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/temp">Temperatura</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Usuaris</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/register">Registrar Usuari</a></li>
                </ul>
            </li>
          </ul>
 </div>
 <div class="row form">
<div class="col-sm-3"></div>
<div class="col-sm-4">
<form name="" action="/encender" method="post">
<div class="row">
<div class="col-sm-3">
 Rele 1
</div>
<div class="col-sm-4">
{% if allreles[0].status == 0 %}
 <button class="btn-primary" name="encender1">On</button>
 <button class="btn-danger disabled" name="apagar1">Off</button>
<img src="{{ asset('img/apagado.gif') }}" alt="logo"/>
{% else %}
 <button class="btn-primary disabled" name="encender2">On</button>
 <button class="btn-danger" name="apagar1">Off</button>
<img src="{{ asset('img/encendido.jpg') }}" alt="logo"/>   
{% endif %}
</div>
</div>
 <br/>
<div class="row">
<div class="col-sm-3">
  Rele 2
</div>
<div class="col-sm-4">
 {% if allreles[1].status == 0 %}
 <button class="btn-primary" name="encender2">On</button>
 <button class="btn-danger disabled" name="apagar2">Off</button>
<img src="{{ asset('img/apagado.gif') }}" alt="logo"/>
{% else %}
 <button class="btn-primary disabled" name="encender2">On</button>
 <button class="btn-danger" name="apagar2">Off</button>
<img src="{{ asset('img/encendido.jpg') }}" alt="logo"/>   
{% endif %}
</div>
</div>
 <br/>
<div class="row">
<div class="col-sm-3">
  Rele 3
</div>
<div class="col-sm-4">
 {% if allreles[2].status == 0 %}
  <button class="btn-primary" name="encender3">On</button>
 <button class="btn-danger disabled" name="apagar3">Off</button>
<img src="{{ asset('img/apagado.gif') }}" alt="logo"/>
{% else %}
 <button class="btn-primary disabled" name="encender3">On</button>
 <button class="btn-danger" name="apagar3">Off</button>
<img src="{{ asset('img/encendido.jpg') }}" alt="logo"/>   
{% endif %}
</div>
</div>
 <br/>
<div class="row">
<div class="col-sm-3">
  Rele 4
</div>
<div class="col-sm-4">
 {% if allreles[3].status == 0 %}
   <button class="btn-primary" name="encender4">On</button>
 <button class="btn-danger disabled" name="apagar4">Off</button>
<img src="{{ asset('img/apagado.gif') }}" alt="logo"/>
{% else %}
 <button class="btn-primary disabled" name="encender4">On</button>
 <button class="btn-danger" name="apagar4">Off</button>
<img src="{{ asset('img/encendido.jpg') }}" alt="logo"/>   
{% endif %}
</div>
</div>
</form>
</div>
</div>
</div>
{% endblock %}
