<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Temperatura</title>
<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Ionicons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link href="{{ asset('bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('dist/css/AdminLTE.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('dist/css/skins/_all-skins.min.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('plugins/iCheck/flat/blue.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('plugins/morris/morris.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('plugins/datepicker/datepicker3.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('plugins/daterangepicker/daterangepicker-bs3.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
		<div class="navbar-inner">
        	<div class="container">
        		<div class="row header">
        			<div class="col-md-5">
                    </div>
                    <div id="header-text">
        				<h1>Casa Dòmotica</h1>
        			</div>
        		</div>
        	</div>
        </div>
</div>
<div id="content">
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="/encender">Home</a></li>
          <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Alarma</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createAlarma">Crear Alarma</a></li>
                    <li><a href="/resetAlarma">Reset Alarmes</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Events</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createEvent">Crear Esdeveniment</a></li>
                    <li><a href="/resetEvent">Reset Esdeveniment</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Gràfiques</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/temp">Temperatura</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Usuaris</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/register">Registrar Usuari</a></li>
                </ul>
            </li>
          </ul>
 </div>
<div class="row form">
<div class="col-sm-2"></div>
<div class="col-sm-8">
      <!-- /.row -->
      <!-- Main row -->
      <div class="row temperatura">
        <!-- Left col -->
        <section class="col-lg-10 connectedSortable">
          <!-- Custom tabs (Charts with tabs)-->
          <div class="nav-tabs-custom">
            <!-- Tabs within a box -->
            <ul class="nav nav-tabs pull-right">
              <li><a id="168" href="#revenue-chart" data-toggle="tab">1w</a></li>
              <li ><a id="48" href="#revenue-chart" data-toggle="tab">48h</a></li>
              <li class="active"><a id="24" href="#revenue-chart" data-toggle="tab">24h</a></li>
              <li class="pull-left header"><i class="fa fa-inbox"></i> Historial</li>
            </ul>
            <div class="tab-content no-padding">
              <!-- Morris chart - Sales -->
              <div class="chart tab-pane active" id="revenue-chart" style="position: relative; height: 300px;"></div>
            </div>
          </div>
          <!-- /.nav-tabs-custom -->
</div>
</div>
</div>

          
{% block javascripts %}
			
    <script src="{{ asset('plugins/jQuery/jQuery-2.1.4.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('plugins/jQueryUI/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="{{ asset('plugins/morris/morris.min.js') }}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{{ asset('plugins/daterangepicker/daterangepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('plugins/fastclick/fastclick.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dist/js/app.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('dist/js/demo.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/dashboard.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
