!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Reset Alarma</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
</head>
{% block body %}
<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
		<div class="navbar-inner">
        	<div class="container">
        		<div class="row header">
        			<div class="col-md-5">
                    </div>
                    <div id="header-text">
        				<h1>Casa Dòmotica</h1>
        			</div>
        		</div>
        	</div>
        </div>
</div>
<div id="content">
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          <li><a href="/encender">Home</a></li>
          <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Alarma</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createAlarma">Crear Alarma</a></li>
                    <li><a href="/resetAlarma">Reset Alarmes</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Events</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/createEvent">Crear Esdeveniment</a></li>
                    <li><a href="/resetEvent">Reset Esdeveniment</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Gràfiques</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/temp">Temperatura</a></li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a tabindex="-1" href="#">Usuaris</a>
                 <ul class="dropdown-menu">
                    <li><a tabindex="-1" href="/register">Registrar Usuari</a></li>
                </ul>
            </li>
          </ul>
 </div>
 <div class="row form">
<div class="col-sm-3"></div>
<div class="col-sm-4">
<h1>Alarma creada amb exit!!</h1>
</div>
</div>
</div>
{% endblock %}
