<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Login</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="nav">
		<div class="navbar-inner">
        	<div class="container">
        		<div class="row header">
        			<div class="col-md-5">
                    </div>
                    <div id="header-text">
        				<h1>Casa Dòmotica</h1>
        			</div>
        		</div>
        	</div>
        </div>
</div>
<div id="content">
<div class="col-sm-3 col-md-2 sidebar">
 </div>
<div class="row form">
<div class="col-sm-3"></div>
<div class="col-sm-4">
<form class="form-signin" method='post' action='{{path('user_login')}}'>
    <label for="inputName" class="sr-only">User Name</label>
    <input type="text" id="inputName" name='username' class="form-control" placeholder="User Name" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
    	<label>
        	<input type="checkbox" value="remember-me" required checked>Rembember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
</form>
</div>
</div>
</div>
</body>
</html>
